.container {
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .container {
        box-sizing: inherit;
        display: block;
        margin-left: 10%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
}
